### ReSampling

ReSampling: It is a technique of using the data sample to improve the accuracy and quantify the uncertainity of a population parameter. There are two types of ReSampling :
1. UnderSampling: In this the we balance the dataset by reducing the size of the abdundant class or the majority class. As this technique involves removal of data or data loss, this technique can never be used for secanrio where we have less quantity of data. But it can be used when we have abdunbant quantity of data.
2. Oversampling: In this the we balance the dataset by increasing the size of the rare samples or the minority class by using repition,bootstrapping etc.This method is preferred when the datset is not huge.

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_csv("employee_promotion.csv")
df.head()

   employee_id         department  ... avg_training_score is_promoted
0        65438  Sales & Marketing  ...                 49           0
1        65141         Operations  ...                 60           0
2         7513  Sales & Marketing  ...                 50           0
3         2542  Sales & Marketing  ...                 50           0
4        48945         Technology  ...                 73           0

[5 rows x 14 columns]

In [ ]:
df.shape

(54808, 14)

In [ ]:
df["is_promoted"].value_counts()

0    50140
1     4668
Name: is_promoted, dtype: int64

In [ ]:
df.isnull().sum()

employee_id                0
department                 0
region                     0
education               2409
gender                     0
recruitment_channel        0
no_of_trainings            0
age                        0
previous_year_rating    4124
length_of_service          0
KPIs_met >80%              0
awards_won?                0
avg_training_score         0
is_promoted                0
dtype: int64

In [ ]:
df["education"].fillna(df["education"].mode()[0],inplace=True)
df["previous_year_rating"].fillna(df["previous_year_rating"].mode()[0],inplace=True)

In [ ]:
df.isnull().sum()

employee_id             0
department              0
region                  0
education               0
gender                  0
recruitment_channel     0
no_of_trainings         0
age                     0
previous_year_rating    0
length_of_service       0
KPIs_met >80%           0
awards_won?             0
avg_training_score      0
is_promoted             0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54808 entries, 0 to 54807
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   employee_id           54808 non-null  int64
 1   department            54808 non-null  object
 2   region                54808 non-null  object
 3   education             54808 non-null  object
 4   gender                54808 non-null  object
 5   recruitment_channel   54808 non-null  object
 6   no_of_trainings       54808 non-null  int64
 7   age                   54808 non-null  int64
 8   previous_year_rating  54808 non-null  float64
 9   length_of_service     54808 non-null  int64
 10  KPIs_met >80%         54808 non-null  int64
 11  awards_won?           54808 non-null  int64
 12  avg_training_score    54808 non-null  int64
 13  is_promoted           54808 non-null  int64
dtypes: float64(1), int64(8), object(5)
memory usage: 5.9+ MB

In [ ]:
df.select_dtypes("object").columns

Index(['department', 'region', 'education', 'gender', 'recruitment_channel'], dtype='object')

In [ ]:
from sklearn.preprocessing import LabelEncoder
d_types=dict(df.dtypes)
for name,type_ in d_types.items():
  if str(type_) == "object":
    le=LabelEncoder()
    df[name]=le.fit_transform(df[name])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54808 entries, 0 to 54807
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   employee_id           54808 non-null  int64
 1   department            54808 non-null  int64
 2   region                54808 non-null  int64
 3   education             54808 non-null  int64
 4   gender                54808 non-null  int64
 5   recruitment_channel   54808 non-null  int64
 6   no_of_trainings       54808 non-null  int64
 7   age                   54808 non-null  int64
 8   previous_year_rating  54808 non-null  float64
 9   length_of_service     54808 non-null  int64
 10  KPIs_met >80%         54808 non-null  int64
 11  awards_won?           54808 non-null  int64
 12  avg_training_score    54808 non-null  int64
 13  is_promoted           54808 non-null  int64
dtypes: float64(1), int64(13)
memory usage: 5.9 MB

In [ ]:
X=df.drop(["is_promoted"],axis=1)
Y=df["is_promoted"]

In [ ]:
print(X.shape)
X.head()

(54808, 13)

   employee_id  department  ...  awards_won?  avg_training_score
0        65438           7  ...            0                  49
1        65141           4  ...            0                  60
2         7513           7  ...            0                  50
3         2542           7  ...            0                  50
4        48945           8  ...            0                  73

[5 rows x 13 columns]

In [ ]:
print(Y.shape)
Y.head()

(54808,)

0    0
1    0
2    0
3    0
4    0
Name: is_promoted, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
Xtrain,Xtest,Ytrain,Ytest=train_test_split(X,Y,test_size=0.2,random_state=4)

In [ ]:
from sklearn.preprocessing import StandardScaler
Scaler=StandardScaler()
Xtrain=Scaler.fit_transform(Xtrain)
Xtest=Scaler.transform(Xtest)

In [ ]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(Xtrain,Ytrain)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
ypred=model.predict(Xtest)

In [ ]:
from sklearn.metrics import accuracy_score,classification_report
print(accuracy_score(ypred,Ytest))
print(classification_report(ypred,Ytest))

0.9201787994891443
              precision    recall  f1-score   support

           0       1.00      0.92      0.96     10860
           1       0.07      0.64      0.13       102

    accuracy                           0.92     10962
   macro avg       0.53      0.78      0.54     10962
weighted avg       0.99      0.92      0.95     10962

In [ ]:
from sklearn.ensemble import RandomForestClassifier
model1=RandomForestClassifier()
model1.fit(Xtrain,Ytrain)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
ypred1=model1.predict(Xtest)

In [ ]:
from sklearn.metrics import accuracy_score,classification_report
print(accuracy_score(ypred1,Ytest))
print(classification_report(ypred1,Ytest))

0.9362342638204707
              precision    recall  f1-score   support

           0       1.00      0.94      0.97     10698
           1       0.26      0.89      0.40       264

    accuracy                           0.94     10962
   macro avg       0.63      0.91      0.68     10962
weighted avg       0.98      0.94      0.95     10962

### Using Random Over Sampling

In this the number of records of minority class is increased by randomly replicating them in order to make majority and minority class equal

In [ ]:
df=pd.read_csv("employee_promotion.csv")
df.head()

   employee_id         department  ... avg_training_score is_promoted
0        65438  Sales & Marketing  ...                 49           0
1        65141         Operations  ...                 60           0
2         7513  Sales & Marketing  ...                 50           0
3         2542  Sales & Marketing  ...                 50           0
4        48945         Technology  ...                 73           0

[5 rows x 14 columns]

In [ ]:
df["education"].fillna(df["education"].mode()[0],inplace=True)
df["previous_year_rating"].fillna(df["previous_year_rating"].mode()[0],inplace=True)

In [ ]:
from sklearn.preprocessing import LabelEncoder
d_types=dict(df.dtypes)
for name,type_ in d_types.items():
  if str(type_) == "object":
    le=LabelEncoder()
    df[name]=le.fit_transform(df[name])

In [ ]:
X=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [ ]:
X

       employee_id  department  ...  awards_won?  avg_training_score
0            65438           7  ...            0                  49
1            65141           4  ...            0                  60
2             7513           7  ...            0                  50
3             2542           7  ...            0                  50
4            48945           8  ...            0                  73
...            ...         ...  ...          ...                 ...
54803         3030           8  ...            0                  78
54804        74592           4  ...            0                  56
54805        13918           0  ...            0                  79
54806        13614           7  ...            0                  45
54807        51526           2  ...            0                  49

[54808 rows x 13 columns]

In [ ]:
y

0        0
1        0
2        0
3        0
4        0
        ..
54803    0
54804    0
54805    0
54806    0
54807    0
Name: is_promoted, Length: 54808, dtype: int64

In [ ]:
from imblearn.over_sampling import RandomOverSampler
ros=RandomOverSampler(random_state=0)
ros.fit(X,y)
X_resampled,y_resampled=ros.fit_sample(X,y)

/usr/local/lib/python3.7/dist-packages/sklearn/externals/six.py:31: FutureWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.neighbors.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.neighbors. Anything that cannot be imported from sklearn.neighbors is now part of the private API.
  warnings.warn(message, FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [ ]:
y_resampled

array([0, 0, 0, ..., 1, 1, 1])

In [ ]:
unique, counts = np.unique(y_resampled, return_counts=True)
dict(zip(unique, counts))

{0: 50140, 1: 50140}

In [ ]:
from sklearn.model_selection import train_test_split
Xtrain,Xtest,Ytrain,Ytest=train_test_split(X_resampled,y_resampled,test_size=0.2,random_state=0)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
model1=RandomForestClassifier()
model1.fit(Xtrain,Ytrain)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
ypred1=model1.predict(Xtest)

In [ ]:
from sklearn.metrics import accuracy_score,classification_report
print(accuracy_score(ypred1,Ytest))
print(classification_report(ypred1,Ytest))

0.991523733546071
              precision    recall  f1-score   support

           0       0.98      1.00      0.99      9817
           1       1.00      0.98      0.99     10239

    accuracy                           0.99     20056
   macro avg       0.99      0.99      0.99     20056
weighted avg       0.99      0.99      0.99     20056

### Using Random Under Sampling

In this the number of records of majority class is decreased by randomly eliminating records in order to make majority and minority class equal

In [ ]:
df=pd.read_csv("employee_promotion.csv")
df.head()

   employee_id         department  ... avg_training_score is_promoted
0        65438  Sales & Marketing  ...                 49           0
1        65141         Operations  ...                 60           0
2         7513  Sales & Marketing  ...                 50           0
3         2542  Sales & Marketing  ...                 50           0
4        48945         Technology  ...                 73           0

[5 rows x 14 columns]

In [ ]:
df["education"].fillna(df["education"].mode()[0],inplace=True)
df["previous_year_rating"].fillna(df["previous_year_rating"].mode()[0],inplace=True)

In [ ]:
from sklearn.preprocessing import LabelEncoder
d_types=dict(df.dtypes)
for name,type_ in d_types.items():
  if str(type_) == "object":
    le=LabelEncoder()
    df[name]=le.fit_transform(df[name])

In [ ]:
X=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [ ]:
from imblearn.under_sampling import RandomUnderSampler
ros=RandomUnderSampler(random_state=0)
ros.fit(X,y)
X_resampled1,y_resampled1=ros.fit_sample(X,y)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [ ]:
unique, counts = np.unique(y_resampled1, return_counts=True)
dict(zip(unique, counts))

{0: 4668, 1: 4668}

In [ ]:
from sklearn.model_selection import train_test_split
Xtrain,Xtest,Ytrain,Ytest=train_test_split(X_resampled1,y_resampled1,test_size=0.2,random_state=0)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
model1=RandomForestClassifier()
model1.fit(Xtrain,Ytrain)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
ypred1=model1.predict(Xtest)

In [ ]:
from sklearn.metrics import accuracy_score,classification_report
print(accuracy_score(ypred1,Ytest))
print(classification_report(ypred1,Ytest))

0.7901498929336188
              precision    recall  f1-score   support

           0       0.71      0.84      0.77       783
           1       0.87      0.75      0.81      1085

    accuracy                           0.79      1868
   macro avg       0.79      0.80      0.79      1868
weighted avg       0.80      0.79      0.79      1868

### Synthetic Sampling Using Imblearn

It is a technique which is generally use to avoid overfitting, as random elimination or replication of data from minority to majority can sometimes lead to overfitting.

Synthetic Sampling is an extension or advanced  version of Random Over Sampling. The only difference between them is the way of sampling.

Synthetic Sampling: In this a subset of Data is taken from the minority class as an example and then the new synthetic similar instances are created. These synthetic instances are then added to the original dataset. Hence, in Synthetic Sampling new data is created Synthetically instead of replicating the data.

In [ ]:
df=pd.read_csv("employee_promotion.csv")
df.head()

   employee_id         department  ... avg_training_score is_promoted
0        65438  Sales & Marketing  ...                 49           0
1        65141         Operations  ...                 60           0
2         7513  Sales & Marketing  ...                 50           0
3         2542  Sales & Marketing  ...                 50           0
4        48945         Technology  ...                 73           0

[5 rows x 14 columns]

In [ ]:
df["education"].fillna(df["education"].mode()[0],inplace=True)
df["previous_year_rating"].fillna(df["previous_year_rating"].mode()[0],inplace=True)

In [ ]:
from sklearn.preprocessing import LabelEncoder
d_types=dict(df.dtypes)
for name,type_ in d_types.items():
  if str(type_) == "object":
    le=LabelEncoder()
    df[name]=le.fit_transform(df[name])

In [ ]:
X=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [ ]:
from imblearn.over_sampling import SMOTE
sm=SMOTE(random_state=0)
sm.fit(X,y)
X_resampled1,y_resampled1=sm.fit_sample(X,y)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [ ]:
unique, counts = np.unique(y_resampled1, return_counts=True)
dict(zip(unique, counts))

{0: 50140, 1: 50140}

In [ ]:
from sklearn.model_selection import train_test_split
Xtrain,Xtest,Ytrain,Ytest=train_test_split(X_resampled1,y_resampled1,test_size=0.2,random_state=0)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
model1=RandomForestClassifier()
model1.fit(Xtrain,Ytrain)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
ypred1=model1.predict(Xtest)

In [ ]:
from sklearn.metrics import accuracy_score,classification_report
print(accuracy_score(ypred1,Ytest))
print(classification_report(ypred1,Ytest))

0.9651974471479856
              precision    recall  f1-score   support

           0       0.99      0.94      0.97     10553
           1       0.94      0.99      0.96      9503

    accuracy                           0.97     20056
   macro avg       0.97      0.97      0.97     20056
weighted avg       0.97      0.97      0.97     20056

### Neighbors Based Sampling using Imblearn

The name of this sampling technique is Edited Nearest Neighbors also known as ENN. This resampling technique is an extension of undersampling technique, where those samples are removed which are close to the decision boundary. In simple words it removes all the observations which makes it difficult to decide whether it belongs to class 0 or class 1.

In [ ]:
df=pd.read_csv("employee_promotion.csv")
df.head()

   employee_id         department  ... avg_training_score is_promoted
0        65438  Sales & Marketing  ...                 49           0
1        65141         Operations  ...                 60           0
2         7513  Sales & Marketing  ...                 50           0
3         2542  Sales & Marketing  ...                 50           0
4        48945         Technology  ...                 73           0

[5 rows x 14 columns]

In [ ]:
df["education"].fillna(df["education"].mode()[0],inplace=True)
df["previous_year_rating"].fillna(df["previous_year_rating"].mode()[0],inplace=True)

In [ ]:
from sklearn.preprocessing import LabelEncoder
d_types=dict(df.dtypes)
for name,type_ in d_types.items():
  if str(type_) == "object":
    le=LabelEncoder()
    df[name]=le.fit_transform(df[name])

In [ ]:
X=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [ ]:
from imblearn.under_sampling import EditedNearestNeighbours
enn=EditedNearestNeighbours()
enn.fit(X,y)
X_resampled1,y_resampled1=enn.fit_sample(X,y)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [ ]:
unique, counts = np.unique(y_resampled1, return_counts=True)
dict(zip(unique, counts))

{0: 39218, 1: 4668}

In [ ]:
from sklearn.model_selection import train_test_split
Xtrain,Xtest,Ytrain,Ytest=train_test_split(X_resampled1,y_resampled1,test_size=0.2,random_state=0)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
model1=RandomForestClassifier()
model1.fit(Xtrain,Ytrain)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
ypred1=model1.predict(Xtest)

In [ ]:
from sklearn.metrics import accuracy_score,classification_report
print(accuracy_score(ypred1,Ytest))
print(classification_report(ypred1,Ytest))

0.9197994987468672
              precision    recall  f1-score   support

           0       1.00      0.92      0.96      8473
           1       0.29      0.89      0.43       305

    accuracy                           0.92      8778
   macro avg       0.64      0.90      0.70      8778
weighted avg       0.97      0.92      0.94      8778

## Combining Oversampling and UnderSampling

In [ ]:
df=pd.read_csv("employee_promotion.csv")
df.head()

   employee_id         department  ... avg_training_score is_promoted
0        65438  Sales & Marketing  ...                 49           0
1        65141         Operations  ...                 60           0
2         7513  Sales & Marketing  ...                 50           0
3         2542  Sales & Marketing  ...                 50           0
4        48945         Technology  ...                 73           0

[5 rows x 14 columns]

In [ ]:
df["education"].fillna(df["education"].mode()[0],inplace=True)
df["previous_year_rating"].fillna(df["previous_year_rating"].mode()[0],inplace=True)

In [ ]:
from sklearn.preprocessing import LabelEncoder
d_types=dict(df.dtypes)
for name,type_ in d_types.items():
  if str(type_) == "object":
    le=LabelEncoder()
    df[name]=le.fit_transform(df[name])

In [ ]:
X=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [ ]:
from imblearn.combine import SMOTEENN
senn=SMOTEENN(random_state=0)
senn.fit(X,y)
X_resampled1,y_resampled1=senn.fit_sample(X,y)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [ ]:
unique, counts = np.unique(y_resampled1, return_counts=True)
dict(zip(unique, counts))

{0: 26831, 1: 42332}

In [ ]:
from sklearn.model_selection import train_test_split
Xtrain,Xtest,Ytrain,Ytest=train_test_split(X_resampled1,y_resampled1,test_size=0.2,random_state=0)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
model1=RandomForestClassifier()
model1.fit(Xtrain,Ytrain)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
ypred1=model1.predict(Xtest)

In [ ]:
from sklearn.metrics import accuracy_score,classification_report
print(accuracy_score(ypred1,Ytest))
print(classification_report(ypred1,Ytest))

0.9535169522157161
              precision    recall  f1-score   support

           0       0.97      0.92      0.94      5492
           1       0.95      0.98      0.96      8341

    accuracy                           0.95     13833
   macro avg       0.96      0.95      0.95     13833
weighted avg       0.95      0.95      0.95     13833

### Ensemble Models for Imbalanced Dataset

The basic idea behnid these ensemble models is simple First of all some random samples is created from the dataset and then these samples are fit onto weak learners. Here weak learners are those decision trees where pruning is not happened (pruning is a process of eliminating useless features from the decision trees). After training all the weak learners, finally the predictions from the weak learners are combined to make the final prediction

Balanced Bagging Classifer

In [ ]:
df=pd.read_csv("employee_promotion.csv")
df.head()

   employee_id         department  ... avg_training_score is_promoted
0        65438  Sales & Marketing  ...                 49           0
1        65141         Operations  ...                 60           0
2         7513  Sales & Marketing  ...                 50           0
3         2542  Sales & Marketing  ...                 50           0
4        48945         Technology  ...                 73           0

[5 rows x 14 columns]

In [ ]:
df["education"].fillna(df["education"].mode()[0],inplace=True)
df["previous_year_rating"].fillna(df["previous_year_rating"].mode()[0],inplace=True)

In [ ]:
from sklearn.preprocessing import LabelEncoder
d_types=dict(df.dtypes)
for name,type_ in d_types.items():
  if str(type_) == "object":
    le=LabelEncoder()
    df[name]=le.fit_transform(df[name])

In [ ]:
X=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [ ]:
from sklearn.model_selection import train_test_split
Xtrain,Xtest,Ytrain,Ytest=train_test_split(X,y,test_size=0.2,random_state=0)

In [ ]:
from imblearn.ensemble import BalancedBaggingClassifier
model1=BalancedBaggingClassifier(random_state=1)
model1.fit(Xtrain,Ytrain)
ypred1=model1.predict(Xtest)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [ ]:
from sklearn.metrics import accuracy_score,classification_report
print(accuracy_score(ypred1,Ytest))
print(classification_report(ypred1,Ytest))

0.8312351760627623
              precision    recall  f1-score   support

           0       0.84      0.97      0.90      8741
           1       0.70      0.29      0.41      2221

    accuracy                           0.83     10962
   macro avg       0.77      0.63      0.66     10962
weighted avg       0.81      0.83      0.80     10962

Balanced Random Forest

In [ ]:
df=pd.read_csv("employee_promotion.csv")
df.head()

In [ ]:
df["education"].fillna(df["education"].mode()[0],inplace=True)
df["previous_year_rating"].fillna(df["previous_year_rating"].mode()[0],inplace=True)

In [ ]:
from sklearn.preprocessing import LabelEncoder
d_types=dict(df.dtypes)
for name,type_ in d_types.items():
  if str(type_) == "object":
    le=LabelEncoder()
    df[name]=le.fit_transform(df[name])

In [ ]:
X=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [ ]:
from sklearn.model_selection import train_test_split
Xtrain,Xtest,Ytrain,Ytest=train_test_split(X,y,test_size=0.2,random_state=0)

In [ ]:
from imblearn.ensemble import BalancedRandomForestClassifier
model1=BalancedRandomForestClassifier(random_state=0)
model1.fit(Xtrain,Ytrain)
ypred1=model1.predict(Xtest)

In [ ]:
from sklearn.metrics import accuracy_score,classification_report
print(accuracy_score(ypred1,Ytest))
print(classification_report(ypred1,Ytest))

0.8312351760627623
              precision    recall  f1-score   support

           0       0.84      0.97      0.90      8741
           1       0.70      0.29      0.41      2221

    accuracy                           0.83     10962
   macro avg       0.77      0.63      0.66     10962
weighted avg       0.81      0.83      0.80     10962